@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-orange: #FF6B1A;
    --backgrond-color-Eerie: #1A1A1A;
    --backgrond-color-white-smoke: #F5F5F5;
    --font-color-white: #ffffff;
    --font-color-black: #000000;
    --font-color-grey: #666666;
    --font-display: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: var(--font-display);
}

.logo {
    width: 100%;
    height: 13rem;
    background-color: var(--background-color-orange);
    /*font-family: var(--font-display);*/
    color: var(--font-color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    h1 img {
        width: 2.4rem;
    }

    p{
        font-size: 1.4rem;
    }
}

.hero {
    background-color: var(--backgrond-color-Eerie);
    width: 100%;
    height: 7.1rem;
    font-size: 1.9rem;
    /*font-family: var(--font-display);*/
    display: flex;
    align-items: center;
}    

.navbar {
    border: none;
    width: 10.3rem;
    height: 3.7rem;
    margin-left: 1rem;
    color: var(--font-color-white);
    background-color: var(--background-color-orange);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    filter: brightness(0.95);
}

.navbar:hover {
    filter: brightness(1.00);
}

.navbar span img {
    width: 1.7rem;
    height: 1.4rem;
}

.navigation {
    display: none;
}

.welcome {
    width: 100%;
    height: 37.7rem;
    background-image: url(./assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15.1rem;
    position: relative;
}

.overlay {
    width: 100%;
    height: 37.7rem;
    background-color:rgba(44, 43, 43, 0.99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;

    h2 {
        color: var(--font-color-white);
        font-size: 2.4rem;
    }

    p {
        color: var(--font-color-white);
        opacity: 0.9;
        font-size: 1.6rem;
        padding: 1rem 5rem 0rem 5rem;
        text-align: center;
        line-height: 3rem;
    }
}

.container {
    width: 100%;
    background-color: var(--backgrond-color-white-smoke);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 32.4rem);
    grid-template-rows: repeat(6, 20rem);
    gap: 2rem;
    padding: 5rem 0rem 18rem 0rem;

}

.container article {
    background-color: var(--font-color-white);
    width: 32.4rem;
    height: 20rem;
    border-radius: 1.2rem;
    box-shadow: 0.8rem 0.8rem 0.8rem 0rem #00000010;
    border-top: 0.4rem solid var(--background-color-orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem 2.5rem 2.5rem;

    h2 {
        color: var(--font-color-black);
        /*font-family: var(--font-display);*/
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        gap: 1rem;


        img {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
        }
    }

    p {
        color: var(--font-color-grey);
        /*font-family: var(--font-display);*/
        font-size: 1.6rem;
        padding-top: 1rem;
    }
}

.ftr {
    width: 100%;
    height: 9rem;
    background-color: var(--backgrond-color-Eerie);
    color: var(--font-color-white);
    /*font-family: var(--font-display);*/
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (min-width: 48.1rem) {
    /*tablet styles here*/

    .logo {
    width: 100%;
    height: 20rem;

    h1 {
        font-size: 4rem;
    }

    h1 img {
        width: 5.8rem;
    }

    p{
        font-size: 1.8rem;
        padding: 1rem 2rem;
        margin-left: 6.5rem;
    }
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
    }

    .navbar {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        justify-content: center;
        align-items: center;
        color: var(--font-color-white);
        cursor: pointer;
        

        button {
            border: none;
            background: none;

            a {
                text-decoration: none;
                color: var(--font-color-white);
                font-size: 1.7rem;
            }
        }

        button:hover {
            background-color: var(--background-color-orange);
            width: 10.3rem;
            height: 3.7rem;
            border-radius: 0.8rem;
        }
    }

    .welcome {
        height: 53rem;
        background-size: 30.2rem;
        background-image: url(./assets/images/logo1.png);
    }
    
    
    .overlay {
        height: 53rem;

    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 1.8rem;
        padding: 1rem 5rem 0rem 5rem;
        text-align: center;
        line-height: 3rem;
    }
    }

    .container {
        grid-template-columns: repeat(2, 32.4rem);
        grid-template-rows: repeat(3, 20rem);
    }

    .ftr {
        font-size: 1.6rem;
    }

    .ftr::after {
        content: 'Shinobi Training Center.';
        margin-left: 0.5rem;
        
    }
}

@media (min-width: 76.8rem) {
    /*Desctop styles starts here*/

     .container {
        grid-template-columns: repeat(3, 32.4rem);
        grid-template-rows: repeat(2, 20rem);
        gap: 3rem;
    }

    .container article {
        
    }

    .ftr::after {
        content: 'Shinobi Training Center. All jutsu reserved';
        margin-left: 0.5rem; 
    }
}